// paddings
$padding1x: 8px;
$padding2x: 16px;
$padding3x: 24px;

// margins
$margin1x: 8px;
$margin2x: 16px;
$margin3x: 24px;

// spacing
$spacing1x: 8px;
$spacing2x: 16px;
$spacing3x: 24px;


// width and height
$header-height: clamp(3rem, 4rem, 5rem);